.form-div h1 {
    font-size: 2.3rem;
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.form-div label {
    font-size: 1.2rem;
    color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.form-div option {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.input-black-text {
    color: black;
    font-weight: 400;
}

.form-div {
    margin: 10px auto;
    padding: 20px 70px;
    width: 60%;
    background-color: #6166B3;
    -webkit-border-radius: 10px;
    text-align:center;
}

.button-color {
    background-color: #17D7A0;
}

.submit-div{
    text-align: center;
}

.success_class {
    text-align: center;
    color: white;
    text: white;
}
.success_page_div {
    background: #6166B3;
    margin: 100px;
    padding: 70px 70px;
    font-family: 'Raleway', sans-serif;
    -webkit-border-radius: 10px;
}
.success_class-link {
    color: white;
}
.success_class-link:hover {
    color: black;
}
.login_btn {
    background-color: #17D7A0;
    margin-top: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.login_btn:hover {
    background-color: white;
    color: #6166B3;
}
.no_account {
      color: #F7F7F7;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
       font-size : 20px;
}
.link_to_register:hover {
    color:black;
}

