{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<!--Register-->
<div class="justify-content-center form-div shadow container py-5">
  <h1>Register As Recruiter</h1>
  <form method="POST">
    {% csrf_token %} {{ form | crispy }}
    <br />
    <button class="btn btn-primary btn_color" type="submit">Register</button>
  </form>
  <p class="text-center login_link">
    If your company isn't in the list add a new company
    <a class="login_button" href="/companyRegister">here</a>.
  </p>
  <p class="text-center login_link">
    If you already have an account, <a class="login_button" href="/login">login</a> instead.
  </p>
</div>

{% endblock %}
