{% extends 'base.html' %} {% block content %}
<h1>Job Board</h1>
<div class="container">
    <div class="sixteen columns">

        <div class="search-container">

            <!-- Form -->
            <h2>Find job</h2>
            <input type="text" class="ico-01" placeholder="job title, keywords or company name" value="" />
            <input type="text" class="ico-02" placeholder="city, province or region" value="" />
            <button><i class="fa fa-search"></i></button>

            <!-- Browse Jobs -->
            <div class="browse-jobs">
                Browse job offers by <a href="browse-categories.html"> category</a> or <a href="#">location</a>
            </div>

            <!-- Announce -->
            <div class="announce">
                We’ve over <strong>15 000</strong> job offers for you!
            </div>

        </div>

    </div>
</div>
</div>
{% endblock %}