{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <form class="d-flex my-3" method="POST" action="{% url 'board' %}">
        {% csrf_token %}
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search company name, job keyword"
          aria-label="Search"
          name="searched_name"
        />
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search city"
          aria-label="Search"
          name="searched_city"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="user-info">
        <div class="container-fluid">
          <h2>{{user_name}}</h2>
          {% if user_is_student %}
            <h4>{{user_as_student.educational_institution}}</h4>
          {% endif %}
          {% if user_is_recruiter %}
            <h4>{{user_as_recruiter.company}}</h4>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-10 text-center">
      <div class="row">
        <h3>{{jobs_intro_message}}</h3>
        {% for job in jobs_to_display %}
          <div class="col-6 p-5 text-center">
            <div class="jobs">
              <ul class="list-group">
                <li class="list-group-item">{{job.title}}</li>
                <li class="list-group-item">Added {{job.date_created}}</li>
                <li class="list-group-item">{{job.company}}</li>
                <li class="list-group-item">{{job.job_type}}</li>
                <li class="list-group-item">{{job.city}}</li>
                <li class="list-group-item">
                  <button
                    class="list-group-item"
                    onclick="location.href ='/job/{{ job.id }}/'"
                  >
                    Read more
                  </button>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% endblock %}
  </div>
</div>
