{% extends 'base.html' %} {% block content %} {% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/board_style.css' %}"
/>

<div class="container px-2">
  <div class="row">
    <form
      class="d-flex justify-content-center my-3"
      method="POST"
      action="{% url 'board' %}"
    >
      {% csrf_token %}
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search company name, job keyword"
        aria-label="Search"
        name="searched_name"
      />
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search city"
        aria-label="Search"
        name="searched_city"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="main-content">
    <div class="row gx-5">
      <div class="col-3 left-screen">
        {% if user_is_student or user_is_recruiter %}
          <div class="user-box">
            <h3 class="user-info">{{user_name}}</h3>
            {% if user_is_student %}
              <h5 class="user-info">{{user_as_student.educational_institution}}</h5>
            {% endif %}
            {% if user_is_recruiter %}
              <h5 class="user-info">{{user_as_recruiter.company}}</h5>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="col-9 text-center">
        <div class="row">
          <p class="jobs-intro">{{jobs_intro_message}}</p>
          {% for job in jobs_to_display %}
            <div class="col-6 p-5 text-center">
              <div class="jobs">
                <ul class="list-group">
                  <li class="list-group-item title">{{job.title}}</li>
                  <li class="list-group-item field">
                    Added {{job.date_created}}
                  </li>
                  <li class="list-group-item field">{{job.company}}</li>
                  <li class="list-group-item field">{{job.job_type}}</li>
                  <li class="list-group-item field">{{job.city}}</li>
                  <li class="list-group-item field">
                    <button
                      id="read-more"
                      class="list-group-item d-flex justify-content-center"
                      onclick="location.href ='/job/{{ job.id }}/'"
                    >
                      Read more
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
