{% extends 'base.html' %} {% block content %}

<div class="job-div justify-content-center">
    <div class="job-body">
        <h1 id="job-title">{{ job_data.title }} </h1>
        <div class="container">
            <ul>
                <li> Company: <strong class="db-name">{{ job_data.company }}</strong></li>
                <li> Job Location: <strong class="db-name">{{ job_data.city }}</strong></li>
                <li> Work from: <strong class="db-name">{{ job_data.work_from }}</strong></li>
                <li><strong class="db-name">{{ job_data.job_type }} job</strong> </li>
            </ul>
        </div>
        <div class="container">
            <h6>Job Description: <strong class="db-name">{{ job_data.description }}</strong></h6>
        </div>
<!--            Adds additional data according to the user's type-->
        {% if not user_indicator_template is None %}
            {% include user_indicator_template %}
        {% endif %}
        <a class="aqua-colored" href="/">Go back to all jobs</a>
    </div>
</div>
{% endblock %}
