{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md p-5 text-align">
            <h2>{{ job_data.title }} </h2>
            <h6> Company: {{ job_data.company }}, in {{ job_data.city }}</h6>
            <h7>{{ job_data.job_type }} job ;</h7>
            <h7> Work from: {{ job_data.work_from }}</h7>
            <br> <br>
            <h6><strong>{{ job_data.description }}</strong></h6>
            <br>
            {% if user.is_authenticated %}
                {% if is_student %}
                    {% if is_student_applied %}
                        <p>YOU HAVE ALREADY APPLIED FOR THIS JOB</p>
                    {% else %}
                        <button onclick="location.href = 'apply_for_job/'" type="submit">APPLY NOW</button>
                    {% endif %}
                {% endif %}

<!--                {% if is_recruiter %}-->
<!--                    {% if job_data.recruiter.user.id == user.id %}-->
<!--                        <button onclick="location.href = 'edit_job/{{ job.id }}/'" type="submit">Edit this job</button>-->
<!--                    {% endif %}-->
<!--                {% endif %}-->
            {% endif %}
            <a href="/">Go back to all jobs</a>
        </div>
    </div>
</div>
{% endblock %}
